.mrs1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
}
html {
    background-image: url(https://media.tenor.com/SpN1-ZvSbJEAAAAM/sonic-dance-sonic-and-tails-dancing.gif);
}
p{
    text-align: center;
    font-size: 16px;
    color: rgb(0, 102, 255);
}